* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--grey);
}

:root {
    --grey: #575757;
    --greyDarker: #333333;
    --white: #ffffff;
}


#container {
    color: white;
}

#leftMenu {
    background-color: var(--greyDarker);
    float: left;
    height: 100vh;
    width: 10vw;
    text-align: center;
}

#leftMenu h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--greyDarker);
}

.btn {
    background-color: var(--grey);
    border: 1px solid black;
    border-radius: 15px;
    min-height: 3vh;
    min-width: 7vw;
    color: var(--white);
    transition-duration: 0.5s;
    margin: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--greyDarker);
}

#showTagButtons {
    float: left;
    position: absolute;
    left: 5px;
    bottom: 25px;
    /* bottom: 10px; */
    width: 9vw;
    background-color: var(--greyDarker);
}

#version {
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    background-color: var(--greyDarker);
}

#version p {
    background-color: var(--greyDarker);
}

#mainLeft {
    float: left;
    height: 100vh;
    width: 45vw;
    background-color: var(--grey);
    text-align: center;
    border-right: 1px solid black;

}

#mainRight {
    float: left;
    height: 100vh;
    width: 44vw;
    background-color: var(--grey);
    text-align: center;
    border-left: 1px solid black;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
}

#addTagDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /* box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.5); */
    background-color: var(--greyDarker);
    color: var(--white);
    height: 20vh;
    width: 10vw;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    border: 2px solid black;
}

#addTagDialog h1 {
    background-color: var(--greyDarker);
}

.dialog h1 {
    margin-top: 10px;
}

.dialogCloseButton {
    position: absolute;
    left: 85%;
    top: 7%;
}

#xBtn {
    color: var(--white);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    background-color: var(--grey);
    border: 1px solid var(--white);
    border-radius: 100%;
    font-weight: bolder;
}

#inputTag {
    margin-top: 30px;
    width: 7vw;
    height: 2vh;
    text-align: center;
    border: 2px solid var(--white);
    outline: none;
    background-color: var(--greyDarker);
    color: var(--white);
    border-radius: 20px;
}

#submitButtonDialogTag {
    margin-top: 30px;
}

.submitButton {
    color: var(--white);
    width: 5vw;
    height: 2vh;
    background-color: var(--grey);
    border: 2px solid var(--white);
    border-radius: 20px;
    transition-duration: 0.5s;
}

.submitButton:hover {
    background-color: var(--greyDarker);
}

#overlay.visible, #addTagDialog.visible, #addGameDialog.visible {
    opacity: 1;
    pointer-events: auto;
}

#addGameDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /* box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.5); */
    background-color: var(--greyDarker);
    color: var(--white);
    min-height: 30vh;
    min-width: 10vw;
    height: 30vh;
    width: 10vw;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
    border: 2px solid black;
}

#addGameDialog h1 {
    background-color: var(--greyDarker);
}

.textInputDialogGame {
    margin-top: 15px;
    width: 7vw;
    height: 2vh;
    text-align: center;
    border: 2px solid var(--white);
    outline: none;
    background-color: var(--greyDarker);
    color: var(--white);
    border-radius: 20px;
}

#submitButtonDialogGame {
    margin-top: 20px;
}

.generatedButtons {
    font-size: 20px;
    background-color: var(--grey);
    border: 1px solid black;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    color: var(--white);
    transition-duration: 0.5s;
    margin: 10px;
}

.generatedButtons:hover {
    background-color: var(--greyDarker);
}

.createGame {
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--grey);
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    padding-top: 20px;
    transition-duration: 1s;
    width: 200px;
    float: left;
    position: relative;

}

.createGame p {
    visibility: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.createGame.visible p {
    visibility: visible;
}


